{% extends 'base.html.twig' %}

{% block title %}Sparkleboard{% endblock %}

{% block body %}

    <div class="p-5 mb-4 bg-light rounded-3">
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-light rounded-3">
            <img src="{{ asset('img/sparkleboard-hero-500.jpg') }}" alt="Sparkleboard logo" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">

            <h2>Sparkleboard is a chore tracking app for families.</h2>
            <p>It helps you keep track of chores and rewards for your family.</p>
            <p>It's a great way to teach your kids responsibility and the value of hard work.</p>
            <p>Sign up today and start tracking your family's chores and rewards!</p>
            
            <a href="{{ path('app_homepage') }}" class="btn btn-primary">Sign up now!</a>
            <a href="{{ path('app_homepage') }}" class="btn btn-secondary">I already have an account</a>
          </div>
        </div>
      </div>
    
{% endblock %}

{% block javascripts%}
  {{ importmap('app') }}
{% endblock %}